@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,700i,800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family:  'Poppins', sans-serif;
}
body {
    width: 100%;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
                                /**address css start**/
section#top-header {
    background: #f6f6f6;
}

.new-container {
    width: 1170px;
    margin: auto;
}
.address ul {
    list-style: none;
    overflow: hidden;
    margin-bottom: 0px;
}

.address ul li {
    float: left;
    margin-right: 25px;
    padding: 7px 5px 7px 5px;
}

.address ul li a {
    text-transform: capitalize;
    color: gray;
    padding: 8px 2px;
}

.address ul li a:hover {
    text-decoration: none;
}

.address ul li i {
    margin-right: 5px;
}

.address ul li span {
    text-transform: capitalize;
}

.social-icons a {
    float: right;
    display: block;
    color: black;
    padding: 11px 15px 3px 15px;
}
section#top-header i {
    color: #11193d;
}


                                /**address css end**/


                                /**navigation start**/

section#navigation {
    background: #ff2590;
    overflow: hidden;
}

.navigation-inner img {
    float: left;
    height: 80px;
    width: 190px;
}

nav ul {
    list-style: none;
    overflow: hidden;
    float: right;
    margin: 0px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 28px 15px;
    color: #333;
    position: relative;
}

nav ul li a:hover {
    text-decoration: none;
    color: #333;
}

a.active-nav:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 4px solid #333;
}

a.active-nav:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 35px;
    border-left: 8px solid #333;
    border-bottom: 8px solid #333;
    transform: rotate(45deg);
}
                                 /*dropdown css strat*/
ul.dropdown-nav {
    position: fixed;
    background: #ff3598;
    width: 200px;
    left: 770px;
    text-align: center;
    transition: 0.5s;
    transform: perspective(2000px) rotateX(90deg);
    transform-origin: top;
    border-top: 4px solid #333;
    z-index: 1;
}

ul.dropdown-nav li {
    float: none;
}

ul.dropdown-nav li a {
    padding: 8px 0px;
    display: block;
}

nav ul li:hover ul.dropdown-nav{
    transform:perspective(2000px) rotateX(0deg);
}

                                 /*dropdown css end*/
                                /**navigation end**/

         

                                /**introuction css start**/

a.contact-btn {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 13px;
    margin-right: 35px;
    border-radius: 8%;
    border: 2px solid #333;
    transition: 0.5s;
}

a.contact-btn:hover {
    text-decoration: none;
    background: #ff2590;
    border-color: #f70079;
    border:2px solid #000000;
}

.main-btn {margin-top: 50px;}

a.hire-btn {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 13px;
    margin-right: 35px;
    border-radius: 8%;
    border: 2px solid #333;
    transition: 0.5s;
    background: #ff007d;
}

a.hire-btn:hover {
    text-decoration: none;
    background: none;
}
.cross {
    position: absolute;
    bottom: 0px;
    background: white;
    width: 100%;
    clip-path: polygon(51% 100%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    height: 75px;
}
img.intro-bg {
    width: 100%;
    padding-top: 50px;
    opacity: 0.7;
}

section#introduction-section {
    background: #dedede;
    height: 90vh;
    overflow: hidden;
    position: relative;
}
.intro {
    position: relative;
    height: 100vh;
}

.introduction-inner {
    position: absolute;
    top: 0px;
    width: 100%;
}
.intro-picinner {
    text-align: center;
}
.intro-title {
    margin-top: 180px;
    text-align: center;
}
span.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
}

.intro-title p {
    color: black;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    FONT-WEIGHT: 600;
}
.intro-title h2 {
    font-weight: 900;
}

.intro-title h2 {
    color: #ff007d;
    text-transform: capitalize;
}
.introduction-inner:after {
    position: absolute;
    bottom: -146px;
    left: -60px;
    background: white;
    width: 60%;
    height: 15px;
    transform: skewY(4deg);
    }

.introduction-inner:before {
    position: absolute;
    bottom: -146px;
    right: -88px;
    background: white;
    width: 60%;
    height: 15px;
    transform: skewY(-4deg);
}

.services-header:after {
    position: absolute;
    top: -11px;
    right: -74px;
    background: white;
    width: 60%;
    height: 37px;
    transform: skewY(-4deg);
}

.services-header:before {
    position: absolute;
    top: -11px;
    left: -88px;
    background: white;
    width: 60%;
    height: 37px;
    transform: skewY(4deg);
}
.admin-pic img {
    width: 100%;
    height: 100%;
}

.admin-pic {
    margin-left: 50px;
    height: 420px;
}
                                /*introduction css end*/


                                /*mobile css start*/
.mobile-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #191935;
    z-index: 7;
    transform: translateX(-768px);
    color: orange;
    padding-top: 105px;
    transition: 0.5s;
}

.mobile-nav a {
    display: block;
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 5px;
}

.close-toggler {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.close-toggler i {
    padding: 5px 10px;
    background: white;
}
.intro-button {
    float: left;
    margin-left: 265px;
}

.intro-button a {
    display: block;
    background: orange;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    padding: 8px 8px;
    border-radius: 8px;
}

.intro-button a:hover {
    text-decoration: none;
}
.mobile-nav p {
     background: #000010;
    padding: 18px;
    text-align: center;
    margin-top: 186px;
    font-size: 15px;
}

                                /*mobile css end*/

                                /*pre loader css start*/
.loader{
    width: 84px;
    height: 84px;
    margin: 50px auto;
    transform: rotate(45deg);
    position: relative;
    animation: animate 1.2s infinite ease-in-out;
}
.loader span{
    background-color: #ff6600;
    width: 40px;
    height: 40px;
    border: 1px #ff6600 solid;
    border-radius: 5px;
    display: block;
    position: absolute;
    animation: animate_1 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1){
    top: 0;
    left: 0;
}
.loader span:nth-child(2){
    background-color: red;
    border: 1px red solid;
    top: 0;
    right: 0;
    animation: animate_2 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3){
    background-color: green;
    border: 1px green solid;
    bottom: 0;
    left: 0;
    animation: animate_2 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4){
    background-color: purple;
    border: 1px purple solid;
    bottom: 0;
    right: 0;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 84px;
        height: 84px;
    }
    65%{
        width: 150px;
        height: 150px;
    }
}
@keyframes  animate_1{
    0%, 30%{ transform: rotate(0); }
    55%{
        background-color: transparent;
        transform: scale(0.5);
    }
    100%{ transform: rotate(180deg); }
}
@keyframes  animate_2{
    0%, 30%{ transform: rotate(0); }
    55%{
        background-color: transparent;
        transform: scale(0.5);
    }
    100%{ transform: rotate(180deg); }
}
section#pre-loader {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition:1s;
}

.loader {
    margin-top: 250px;
}


                                /*pre loader css end*/


                                /*serivces css start*/
.services-header {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.services-header p {
    margin: 0px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.services-header h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #FF9800;
}
.services-box {
    overflow: hidden;
}

.services-box img {
    width: 100%;
    height: 260px;
    position: relative;
}

.services-box {
    padding: 0px 25px 0px 0px;
    position: relative;
    margin-bottom: 50px;
}

.services-fotter {
    position: absolute;
    bottom: -16px;
    background: #ff007d;
    width: 94%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 6px 0px;
    font-weight: 600;
    text-transform: capitalize;
}

section#services {
    height: 800px;
    position: relative;
}
.service-hover {
    position: absolute;
    top: 0px;
    margin: 0px 25px 0px 0px;
    height: 260px;
    opacity: 0;
    transition: 0.7s;
    text-align: center;
}

.service-hover img {
    width: 70px;
    height: 70px;
    text-align: center;
    background: orange;
    margin: 15px 0px;
    border-radius: 100%;
}

.service-hover p {
    text-align: justify;
    padding: 0px 20px;
    color: white;
    font-weight: 480;
}
.service-hover a {
    display: block;
    position: absolute;
    bottom: 0px;
    background: orange;
    width: 100%;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 10px;
}

.service-hover a:hover {
    text-decoration: none;
}

.services-box:hover .service-hover {
    opacity: 1;
}
.services-box:hover .box img {
    filter: blur(3px) brightness(60%);
}
                                /*service css end*/


                                /*team css start*/
section#team-section {
    height: 800px;
    background: linear-gradient(#11113eba, #1b1040ba),url(../img/service2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.team-header p {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0px;
    font-weight: 500;
}

.team-header {
    text-align: center;
    padding: 60px 0px 30px 0px;
}

.team-header h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #FF9800;
}
.team{
    width: 1000px;
    background: #f6f6f6a3;
    margin: auto;
    overflow: hidden;
    height: 520px;
}
.member-img img {
    float: left;
}

.member-dtails {
    float: left;
    margin: 45px 0px 0px -10px;
    width: 50%;
    border: 5px solid #a0a0a0;
    background: white;
    z-index: -1;
}

.col-xl-4.member-img {
    padding-left: 100px;
    padding-top: 35px;
}
.member-img img {
    border: 10px solid orange;
}

.member-dtails h2 {
    padding-top: 10px;
    color: #ff007d;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 0px;
    text-transform: capitalize;
}

.member-dtails p.bio {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d6d6d6;
    font-weight: 600;
}
p.description {
    padding-top: 30px;
    text-align: justify;
    color: gray;
    padding-bottom: 10px;
}

ul.t-icons li {
    list-style: none;
    float: left;
    margin-left: 55px;
}

ul.t-icons li a {
    display: block;
    color: white;
    padding: 4px 10px;
    background: #131344;
    border-radius: 5px;
}

ul.t-icons {
    overflow: hidden;
    width: 100%;
}
.member-img img {
    width: 130% !important;
    height: 400px;
}

                                /*team css end*/


                                 /*choose css start*/
.list-1 {
    float: left;
}

.list-1 .sub {
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
    text-align: right;
    color: #ff007d;
    text-transform: capitalize;
}

.list-1 .des {
    text-align: right;
    font-weight: 500;
}

.award {display: block;margin-bottom: 55px;}

i.choose-icon1 {
    text-align: center;
    border-radius: 50%;
    padding: 20px 20px;
    background: #34495e;
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

section#choose-section {
    height: 1100px;
}
.choose-header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
}

.choose-header p {
    margin: 0px;
    font-weight: 500;
    color: gray;
}

.choose-header h2 {
    color: orange;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
i.choose-icon2 {
    background: orange;
    padding: 10px 10px;
}

p.sub1 {
    margin: 0px;
    font-weight: 700;
    color: #ff007d;
    font-size: 20px;
    text-transform: capitalize;
}

p.des1 {
    font-weight: 500;
}

i.choose-icon2 {
    text-align: center;
    border-radius: 50%;
    padding: 23px 24px;
    background: #34495e;
    font-size: 30px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}
i.choose-icon2:hover {
    background: orange;
    color: black;
}

i.choose-icon1:hover {
    background: orange;
    color: black;
}
                                 
                                /*choose css end*/


                                 /*portfolio css start*/
section#portfolio-section {
    overflow: hidden;
    height:950px;
    background: #dedede;
    text-align: center;
}

.portfolio-header {
    margin-top: 50px;
    padding-bottom: 55px;
    text-transform: capitalize;
}

#portfolio-section p {margin: 0px;font-weight: 500;color: gray;}

.portfolio-header h2 {
    color: orange;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
.portfolio-img img {
    width: 100%;
    position: relative;
    transform: scale(1);
    transition: 0.7s;
}

.portfolio-hide {
    position: absolute;
    width: 260px;
    height: 80%;
    background: #ffffffc4;
    top: 30px;
    left: 37px;
    transition: 0.7s;
    opacity: 0;
}

.portfolio-hide p {
    color: black!important;
    text-transform: uppercase;
    padding-top: 106px !important;
    font-weight: bold !important;
    font-size:;
}

.portfolio-hide p {
    font-size: 25px;
    color: #ff007d !important;
}

.portfolio-box {
    padding: 0px;
    float: left;

}

.portfolio-box:hover .portfolio-hide {
    opacity: 1;
}

.portfolio-img {
    overflow: hidden;
}

.portfolio-box:hover .portfolio-img img {
    transform: scale(1.2);
}
a.portfolio-link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: url(../img/cursor.png), auto;
}
.portfoliomodal-img img {
    width: 40%;
    height: 170px;
}

.portfoliomodal-img {text-align: center;}

.pmodal-title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.pmodal-title h2 {
    font-weight: 600;
    color: orange;
    text-transform: capitalize;
}

.pmodal-title p {
    text-align: justify;
}

a.portmodal-button {
    display: block;
    background: #ff007d;
    color: white;
    font-weight: bold;
    margin: auto;
    padding: 10px 0px;
    border-radius: 8px;
    text-transform: uppercase;
}                                 
.portmodal-button:hover {
    text-decoration: none;
}

.modal-footer {
    display: none;
}  
.portfolio {
    padding: 0px;
    border: none;
}

button.close {
    margin-left: 720px;
    margin-top: 0px !important;
    background: #ff007d;
}
.pmodal-control {
    background: #dedede;
}
.modal-header {
    width: 95%;
}
                                    /*portfolio css end*/


                                    /*contact css */
section#contact-form {
    height: 700px;
    background: linear-gradient(#14143ca3,#14143ca8),url(../img/wild.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact-header {
    margin-top: 50px;
    text-transform: capitalize;
    text-align: center;
}

.contact-header p {
    margin: 0px;
    font-weight: 500;
    color: white;
}

.contact-header h2 {
    color: orange;
    font-weight: bold;
}
.c-name input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding-left: 35px;
    color: gray;
    transition: 0.5s;
}
.c-name input:focus{
    border: 2px solid #ff2590;
}
.c-email input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding-left: 35px;
    color: gray;
    transition: 0.5s;
}
.c-email input:focus{
    border: 2px solid #ff2590;
}
.c-phone input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding-left: 35px;
    color: gray;
    transition: 0.5s;
}
.c-phone input:focus{
    border: 2px solid #ff2590;
}
.c-subject input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding-left: 35px;
    color: gray;
    transition: 0.5s;
}
.c-subject input:focus{
    border: 2px solid #ff2590;
}
.c-message textarea {
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding-left: 25px;
    color: gray;
    resize: none;
    transition: 0.5s;
}
.c-message textarea:focus{
    border: 2px solid #ff2590;
}
.c-name {
    padding-bottom: 15px;
    position: relative;
}

.c-phone {
    padding-bottom: 15px;
    position: relative;
}

.c-message {padding-bottom: 15px;}

.contact-button {
    margin: auto;
    text-align: center;
}

.contact-button input {
    border: 2px solid black;
    font-weight: 600;
    padding: 5px 22px;
    background: none;
    border-radius: 8px;
    transition: 0.5s;
    outline: none;
}

.contact-button input:hover {
    background: orange;
    color: black;
    border: 2px solid orange;
}

.c-eror {
    margin: auto;
    margin-bottom: 20px;
    padding:0px;
    text-align: center;
    transition: all 0.5s ease;
    font-weight:500;
}
.c-email {
    padding-bottom: 15px;
    position: relative;
}

.c-subject {
    padding-bottom: 15px;
    position: relative;
}
.cform-inner i {
    position: absolute;
    left: 25px;
    top: 11px;
    color: #ff007d;
}
.row.maps-form {
    background: #dededeba;
    padding: 45px 0px 20px 0px;
}
iframe {
    width: 100%;
    height: 350px;
    padding-left: 30px;
    padding-top: 10px;
}

.cform-inner {
    margin-left: 35px;
}
.admin {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: #ff2590;
    height: 400px;
    margin-top: 50px;
}
.admin img {
    width: 100%;
}

                                    /*contact css end*/




